.labelText {
  font-size: 12px;
  fill: var(--ifm-color-content);
  stroke: var(--ifm-background-surface-color);
  stroke-width: 3px;
  paint-order: stroke;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: default;
}

.sunburstLabel {
  fill: white;
  /* stroke: rgba(0, 0, 0, 0.2); */
  font-size: 10px;
  cursor: default;

}
