:root {
  --ifm-alert-padding-vertical: 1rem;
  /* Slightly reduced padding */
  --ifm-alert-padding-horizontal: 1.25rem;
  /* Slightly reduced padding */
  --ifm-alert-border-radius: 1rem;
  --ifm-alert-border-width: 1px;
  --ifm-alert-color-title-margin-bottom: 0.5rem;

  /* Light Mode Colors */
  --alert-note-bg: #fdfdfd;
  --alert-note-text: #18181b;
  --alert-note-border: #e0e0e2;
  --alert-note-icon-color: #a0a0a9;

  --alert-success-bg: #f5fefa;
  --alert-success-text: #064e3b;
  --alert-success-border: #d1f1e1;
  --alert-success-icon-color: #079669;

  --alert-info-bg: #f7fcff;
  --alert-info-text: #0c4a6e;
  --alert-info-border: #d1ebfc;
  --alert-info-icon-color: #0fa4e8;

  --alert-warning-bg: #fffdf5;
  --alert-warning-text: #78350f;
  --alert-warning-border: #ffe9ce;
  --alert-warning-icon-color: #fbbf24;

  --alert-danger-bg: #fff9f9;
  --alert-danger-text: #7e1e1d;
  --alert-danger-border: #fed7d6;
  --alert-danger-icon-color: #db2627;
}

[data-theme='dark'] {
  --alert-note-bg: #161718;
  --alert-note-text: #e3e3e6;
  --alert-note-border: #323335;
  --alert-note-icon-color: #d4d4d8;

  --alert-success-bg: #101e1a;
  --alert-success-text: #a8f3d0;
  --alert-success-border: #174d39;
  --alert-success-icon-color: #31ad7f;

  --alert-info-bg: #0f1c24;
  --alert-info-text: #b9e5fe;
  --alert-info-border: #14465f;
  --alert-info-icon-color: #0fa4e8;

  --alert-warning-bg: #231c11;
  --alert-warning-text: #fde58a;
  --alert-warning-border: #634415;
  --alert-warning-icon-color: #cfaf40;

  --alert-danger-bg: #231214;
  --alert-danger-text: #fec9c9;
  --alert-danger-border: #622222;
  --alert-danger-icon-color: #cd5c5d;
}

.alert {
  box-shadow: none;
  border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
}

.alert-heading {
  font-weight: 600;
}

.alert [class*='admonitionIcon'] {
  margin-right: 0.875rem;
}

.alert [class*='admonitionIcon'] svg {
  fill: currentColor;
  width: 1.125rem;
  height: 1.125rem;
}

.alert [class*='admonitionHeading'] {
  text-transform: none;
  font-size: 1rem;
}

.alert [class*='admonitionContent'] {
  padding-left: 0;
}

/* Note */
.alert--secondary {
  --ifm-alert-background-color: var(--alert-note-bg);
  --ifm-alert-foreground-color: var(--alert-note-text);
  --ifm-alert-border-color: var(--alert-note-border);
}

.alert--secondary [class*='admonitionIcon'] svg {
  fill: var(--alert-note-icon-color);
}

/* Success (Tip) */
.alert--success {
  --ifm-alert-background-color: var(--alert-success-bg);
  --ifm-alert-foreground-color: var(--alert-success-text);
  --ifm-alert-border-color: var(--alert-success-border);
}

.alert--success [class*='admonitionIcon'] svg {
  fill: var(--alert-success-icon-color);
}

/* Info */
.alert--info {
  --ifm-alert-background-color: var(--alert-info-bg);
  --ifm-alert-foreground-color: var(--alert-info-text);
  --ifm-alert-border-color: var(--alert-info-border);
}

.alert--info [class*='admonitionIcon'] svg {
  fill: var(--alert-info-icon-color);
}

/* Warning */
.alert--warning {
  --ifm-alert-background-color: var(--alert-warning-bg);
  --ifm-alert-foreground-color: var(--alert-warning-text);
  --ifm-alert-border-color: var(--alert-warning-border);
}

.alert--warning [class*='admonitionIcon'] svg {
  fill: var(--alert-warning-icon-color);
}

/* Danger */
.alert--danger {
  --ifm-alert-background-color: var(--alert-danger-bg);
  --ifm-alert-foreground-color: var(--alert-danger-text);
  --ifm-alert-border-color: var(--alert-danger-border);
}

.alert--danger [class*='admonitionIcon'] svg {
  fill: var(--alert-danger-icon-color);
}

.alert ul {
  padding-left: 1rem;
}

.markdown img {
  border-radius: 1rem;
}

code {
  border-radius: 0.25rem;
  border: none;
  padding: 4px 6px;
}

[class*='codeBlockContainer'] {
  box-shadow: none !important;
  border: 1px solid var(--ifm-color-emphasis-200);
}
