{
  "openapi": "3.1.0",
  "info": {
    "title": "Soyio API",
    "description": "API del Servicio de Identidad de Soyio",
    "contact": {
      "email": "soporte@soyio.id"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.soyio.id/api/v1",
      "description": "Servidor de pruebas (sandbox)"
    },
    {
      "url": "https://app.soyio.id/api/v1",
      "description": "Servidor de producción (production)"
    }
  ],
  "tags": [
    {
      "name": "Configuration",
      "description": "Representa a los aspectos configurables de tu empresa, tales como canales de comunicación u otros datos relevantes.\n"
    },
    {
      "name": "Disclosure requests",
      "description": "Los disclosure requests representan el proceso en que una compañía solicita datos de una identidad verificada.\n"
    },
    {
      "name": "Auth requests",
      "description": "Los auth requests son una forma de autenticar a identidades previamente validadas a través de un `disclosure_request`.\n"
    },
    {
      "name": "Consent templates",
      "description": "Los templates de consentimiento te permiten estandarizar la forma en que solicitas datos a tus usuarios.\nContienen la lista de datos requeridos, sus usos, así como referencias a documentos de privacidad.\n"
    },
    {
      "name": "Disclosure templates",
      "description": "Los templates de divulgación definen los datos, documentos y validadores necesarios para ejecutar un proceso de\nverificación de identidad y compartir información con tu compañía durante un disclosure request.\n"
    },
    {
      "name": "Consent actions",
      "description": "Los consent actions permiten crear acciones de consentimiento.\n"
    },
    {
      "name": "Consent commits",
      "description": "Los consent commits permiten crear múltiples acciones de consentimiento.\n"
    },
    {
      "name": "Privacy documents",
      "description": "Los documentos de privacidad son archivos que contienen información legal y de privacidad\nque pueden ser referenciados tanto en los `disclosure_templates` como los `consent_templates`.\n"
    },
    {
      "name": "Identities",
      "description": "Los objetos de identidad permiten gestionar los datos de identidad de tus usuarios."
    },
    {
      "name": "Validation attempts",
      "description": "Los intentos de validación, representan los procesos de validación de identidades de los usuarios. Estos obedecen a una serie de reglas de validación representadas por un template de validación.\n"
    },
    {
      "name": "Auth attempts",
      "description": "Los intentos de autenticación representan movimientos de una identidad al intentar autenticarse con tu sistema.\n\nEl tipo de autenticación dependerá del registro del dispositivo de autenticación del usuario. En el caso de que un usuario no tenga su dispositivo de autenticación registrado, el tipo de validación será facial. En ese momento se le pedirá registrar el dispositivo.\n"
    },
    {
      "name": "Signature attempts",
      "description": "Representan los intentos de los usuarios para firmar ciertos documentos, los cuales dependen del SignatureAttemptTemplate. La firma puede realizarse por medio de llaves de acceso para cuando el usuario haya registrado una, o por medio de video facial cuando el usuario por alguna razón no puede usar la llave de acceso.\n"
    },
    {
      "name": "Data subject requests",
      "description": "Representan las solicitudes de ejercicio de derechos de los usuarios.\n\n### Guías relacionadas\n\n- [Gestión de derechos](/docs/integration-guide/rights-management/introduction)\n- [Centro de privacidad](/docs/integration-guide/privacy-center/introduction)\n"
    },
    {
      "name": "Events",
      "description": "Los eventos nos permiten comunicarte cambios relevantes en el sistema. Cuando ocurre un evento interesante, se crea un objeto evento. Por ejemplo, cuando se valida una identidad, se crea un evento `validation_attempt.succeeded`; cuando una validación falla, se crea un objeto `validation_attempt.failed`.\n\n> Una llamada a la API **puede generar 1 o más eventos**.\n\nLos eventos pueden ser enviados directamente a tu servidor a través de la utilización de webhooks.\n\n### Guías relacionadas\n\n- [Webhooks](/docs/api/webhooks)\n"
    },
    {
      "name": "Signed documents",
      "description": "Los documentos firmados son documentos digitales que han sido autenticados por los usuarios mediante su firma electrónica. Estos documentos pueden incluir contratos, acuerdos legales, y otros documentos importantes que requieren confirmación de identidad y consentimiento explícito del usuario.\n\nLa firma de estos documentos se gestiona a través del modelo `SignatureAttempt`, que verifica la identidad del usuario y asegura que la firma sea válida y segura.\n"
    },
    {
      "name": "Agreements",
      "description": "Los acuerdos (agreements) representan las reglas de compartimiento de datos entre la empresa y un usuario.\nCada acuerdo puede tener múltiples versiones y evidencias asociadas que respaldan su validez.\nLas evidencias pueden incluir archivos descargables que proporcionan prueba del consentimiento otorgado.\n"
    },
    {
      "name": "Webhooks",
      "description": "Los webhooks permiten recibir notificaciones en tiempo real cuando ocurren eventos en el sistema.\nPuedes configurar múltiples webhooks y suscribirlos a diferentes tipos de eventos.\n\n> Cada webhook puede estar suscrito a uno o más tipos de eventos. Por ejemplo, puedes suscribirte a todos los eventos de la identidad, o a todos los eventos de validación.\n\n:::danger[Atención]\nSi un webhook falla, se intentará enviar nuevamente hasta un máximo de 15 veces. Luego de eso, el webhook se **deshabilitará automáticamente**.\n:::\n\n### Guías relacionadas\n- [Webhooks](/docs/api/webhooks)\n"
    },
    {
      "name": "Products",
      "description": "Diferentes productos o servicios que ofrece tu compañía.\n"
    },
    {
      "name": "Entities",
      "description": "Las entidades representan a los usuarios que interactúan con tu compañía, pero que no han realizado una validación de identidad.\n"
    },
    {
      "name": "Company",
      "description": "La compañía es el objeto que representa a tu empresa y sus respectivas configuraciones. La mayoría de los objetos de nuestra API están relacionados a una compañía.\n"
    },
    {
      "name": "Branches",
      "description": "Las branches representan divisiones o unidades de negocio específicas dentro de tu compañía.\n"
    },
    {
      "name": "Privacy center",
      "description": "El centro de privacidad permite a los usuarios gestionar sus consentimientos y datos personales.\nProporciona endpoints para obtener tokens de sesión que permiten acceder a funcionalidades específicas\ndel centro de privacidad.\n\n### Guías relacionadas\n\n- [Centro de privacidad](/docs/integration-guide/privacy-center/introduction)\n- [Gestión de derechos](/docs/integration-guide/rights-management/introduction)\n"
    },
    {
      "name": "API Keys",
      "description": "Las API keys permiten autenticar y autorizar el acceso a la API de Soyio.\nCada API key puede tener un alcance específico que limita las operaciones que puede realizar.\n\n### Guías relacionadas\n\n- [Autenticación](/docs/api/authentication)\n"
    },
    {
      "name": "Reports",
      "description": "Reportes generados por la empresa para cumplimiento y análisis operativos.\n"
    },
    {
      "name": "Exports",
      "description": "Exportaciones asíncronas de alto volumen para recursos de la API.\n"
    },
    {
      "name": "Government check requests",
      "description": "Los government check requests representan solicitudes de verificación de identidad directamente contra el registro civil,\nsin necesidad de biometría. Permiten validar datos de identidad (RUT y número de documento) contra bases de datos gubernamentales.\n"
    },
    {
      "name": "REDEC",
      "description": "Endpoints específicos para el cumplimiento normativo REDEC (Registro de Empresas y Entidades de Crédito) de Chile.\n"
    }
  ],
  "paths": {
    "/consent_templates": {
      "get": {
        "tags": [
          "Consent templates"
        ],
        "summary": "Obtener todos los templates de consentimiento",
        "operationId": "indexConsentTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Templates de consentimiento encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplateIndexList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Consent templates"
        ],
        "summary": "Crear un template de consentimiento",
        "operationId": "createConsentTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentTemplateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template de consentimiento creado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "example": [
                            "Availability period in months is not a number"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/consent_templates/{id}": {
      "get": {
        "tags": [
          "Consent templates"
        ],
        "summary": "Obtener la última versión de un template de consentimiento",
        "operationId": "getConsentTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del template de consentimiento",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Última versión del template de consentimiento encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Consent templates"
        ],
        "summary": "Actualizar un template de consentimiento",
        "description": "El modelo de template de consentimiento es versionado, por lo que cada cambio realizado no modifica la versión actual, sino que genera una nueva versión, dejando trazable el historial de cambios.",
        "operationId": "updateConsentTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del template de consentimiento",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentTemplateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nueva versión del template de consentimiento, con los cambios realizados.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/consent_templates/{id}/action_tokens": {
      "post": {
        "tags": [
          "Consent templates"
        ],
        "summary": "Crea un action token",
        "description": "Crea un token de acción de consentimiento para un template específico. Requerido en el flujo de creación de [Consent Commits](/docs/api/resources/schemas/consentcommit) y/o [Consent Actions](/docs/api/resources/schemas/consentaction).",
        "operationId": "createActionToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Id del template de consentimiento",
            "schema": {
              "type": "string"
            },
            "example": "constpl_wAspvmEr4ACDZaPUtfwjsA"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActionTokenCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token de acción de consentimiento creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionTokenResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/consent_templates/{id}/versions": {
      "get": {
        "tags": [
          "Consent templates"
        ],
        "summary": "Obtener todas las versiones de un template de consentimiento",
        "operationId": "indexConsentTemplateVersions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del template de consentimiento",
            "schema": {
              "type": "string"
            },
            "example": "constpl_wAspvmEr4ACDZaPUtfwjsA"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Versiones del template de consentimiento encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplateList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/consent_templates/{id}/versions/{version_id}": {
      "get": {
        "tags": [
          "Consent templates"
        ],
        "summary": "Obtener una versión específica de un template de consentimiento",
        "operationId": "getConsentTemplateVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del template de consentimiento",
            "schema": {
              "$ref": "#/components/schemas/ConsentTemplate"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "description": "Número de versión del template",
            "schema": {
              "$ref": "#/components/schemas/ConsentTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Versión específica del template de consentimiento encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/privacy_documents": {
      "get": {
        "tags": [
          "Privacy documents"
        ],
        "summary": "Obtener todos los documentos de privacidad",
        "operationId": "indexPrivacyDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Documentos de privacidad encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyDocumentList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Privacy documents"
        ],
        "summary": "Crea un privacy document",
        "operationId": "createPrivacyDocument",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "template_key",
                  "file"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Texto que aparecerá en el módulo embebible, al referenciarlo con el `template_key`.",
                    "example": "términos y condiciones"
                  },
                  "template_key": {
                    "type": "string",
                    "description": "Llave única para referenciar el documento en templates.",
                    "example": "terms_and_conditions"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Archivo del documento"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Documento de privacidad creado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "privacy_document": {
                      "$ref": "#/components/schemas/PrivacyDocument"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error de solicitud - falta algún campo requerido",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "invalid_request_error"
                        },
                        "title": {
                          "type": "string",
                          "example": "Missing parameter"
                        },
                        "status": {
                          "type": "integer",
                          "example": 400
                        },
                        "detail": {
                          "type": "string",
                          "example": "The required parameter file is missing"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "example": [
                            "Privacy documents is invalid"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/privacy_documents/{id}": {
      "get": {
        "tags": [
          "Privacy documents"
        ],
        "summary": "Obtener la última versión de un documento de privacidad específico",
        "operationId": "getPrivacyDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento de privacidad",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "privdoc_jy21JCGqb-VHhHeUd2nmKw"
          }
        ],
        "responses": {
          "200": {
            "description": "Última versión del documento de privacidad encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "privacy_document": {
                      "$ref": "#/components/schemas/PrivacyDocument"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/privacy_documents/{id}/versions": {
      "get": {
        "tags": [
          "Privacy documents"
        ],
        "summary": "Obtener todas las versiones de un documento de privacidad",
        "operationId": "indexPrivacyDocumentVersions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del documento de privacidad",
            "schema": {
              "type": "string"
            },
            "example": "privdoc_jy21JCGqb-VHhHeUd2nmKw"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Versiones del documento de privacidad encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyDocumentList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/privacy_documents/{id}/versions/{version_id}": {
      "get": {
        "tags": [
          "Privacy documents"
        ],
        "summary": "Obtener una versión específica de un documento de privacidad",
        "operationId": "getPrivacyDocumentVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del documento de privacidad",
            "schema": {
              "type": "string"
            },
            "example": "privdoc_jy21JCGqb-VHhHeUd2nmKw"
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "description": "Número de versión del documento",
            "schema": {
              "type": "integer"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Versión específica del documento de privacidad encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "privacy_document": {
                      "$ref": "#/components/schemas/PrivacyDocument"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/disclosure_templates": {
      "get": {
        "tags": [
          "Disclosure templates"
        ],
        "summary": "Obtener todos los templates de divulgación",
        "operationId": "indexDisclosureTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON.\nPara `liveness_check` e `id_scan_check`, se considera el valor efectivo del template;\nsi el template no define `validation_mode`, se usa la configuración de la compañía.\n",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "liveness_check_enabled": {
                "summary": "Filtrar templates con liveness habilitado",
                "value": "{\"liveness_check\":{\"=\":true}}"
              },
              "id_scan_check_disabled": {
                "summary": "Filtrar templates sin escaneo de documento",
                "value": "{\"id_scan_check\":{\"=\":false}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Templates de divulgación encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisclosureTemplateList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Disclosure templates"
        ],
        "summary": "Crear un template de divulgación",
        "operationId": "createDisclosureTemplate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisclosureTemplateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template de divulgación creado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisclosureTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "example": [
                            "Validator type can't be blank"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/disclosure_templates/{id}": {
      "get": {
        "tags": [
          "Disclosure templates"
        ],
        "summary": "Obtener un template de divulgación",
        "operationId": "getDisclosureTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del template de divulgación",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Template de divulgación encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisclosureTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Disclosure templates"
        ],
        "summary": "Actualizar un template de divulgación",
        "operationId": "updateDisclosureTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del template de divulgación",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DisclosureTemplateInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template de divulgación actualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisclosureTemplate"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Disclosure templates"
        ],
        "summary": "Eliminar un template de divulgación",
        "description": "Elimina un template de divulgación siempre que no existan disclosure requests que lo utilicen.\nSi el template está asociado a disclosures ya creados, la operación retornará un error de validación.\n",
        "operationId": "deleteDisclosureTemplate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "ID del template de divulgación",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template de divulgación eliminado"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "description": "No es posible eliminar el template de divulgación.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "example": [
                            "Cannot delete a disclosure template with associated disclosure requests"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/disclosure_requests": {
      "get": {
        "tags": [
          "Disclosure requests"
        ],
        "summary": "Obtener todos los disclosure requests",
        "operationId": "indexDisclosureRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "status_filter": {
                "summary": "Filtrar por estado",
                "value": "{\"status\":{\"=\":\"pending\"}}"
              },
              "date_filter": {
                "summary": "Filtrar por fecha de creación",
                "value": "{\"created_at\":{\">\":\"2024-01-01T00:00:00.000Z\"}}"
              },
              "combined_filter": {
                "summary": "Filtros combinados",
                "value": "{\"status\":{\"=\":\"pending\"},\"created_at\":{\">\":\"2024-01-01T00:00:00.000Z\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Disclosure requests encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisclosureRequestList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": [
          "Disclosure requests"
        ],
        "summary": "Crear un disclosure request",
        "operationId": "createDisclosureRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "disclosure_template_id",
                  "user_reference",
                  "user_email"
                ],
                "properties": {
                  "disclosure_template_id": {
                    "type": "string",
                    "description": "Identificador del disclosure template.",
                    "example": "dtpl_3D4O4A0CuiVriCnA9RjEhi"
                  },
                  "user_reference": {
                    "type": "string",
                    "description": "Referencia de usuario de tu sistema para el disclosure request.",
                    "example": "user_123"
                  },
                  "user_email": {
                    "type": "string",
                    "description": "Correo electrónico del usuario para el disclosure request.",
                    "example": "walter@white.com"
                  },
                  "entity_id": {
                    "type": "string",
                    "description": "Identificador de entidad previamente creada.",
                    "example": "ent_3D4O4A0CuiVriCnA9RjEhi"
                  },
                  "matchers": {
                    "type": "array",
                    "description": "Matchers del disclosure request. Campo opcional.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Clave del matcher.",
                          "example": "cl_carnet_rut",
                          "enum": [
                            "cl_carnet_rut",
                            "name",
                            "last_name",
                            "date_of_birth"
                          ]
                        },
                        "value": {
                          "type": "string",
                          "description": "Valor del matcher.",
                          "example": "12345678-9"
                        }
                      }
                    }
                  },
                  "force_validation": {
                    "type": "boolean",
                    "description": "Cuando se establece en `true`, obliga a ejecutar una nueva validación aunque exista un disclosure request previo activo para la misma referencia y template.",
                    "example": true,
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Disclosure request creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disclosure_request": {
                      "$ref": "#/components/schemas/DisclosureRequest"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "example": [
                            "Disclosure template is required"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/disclosure_requests/{id}": {
      "get": {
        "tags": [
          "Disclosure requests"
        ],
        "summary": "Obtener un disclosure request específico",
        "operationId": "getDisclosureRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identificador único del disclosure request",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "dreq_1B2M2Y8AsgTpgAmY7PhCfg"
          }
        ],
        "responses": {
          "200": {
            "description": "Disclosure request encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "disclosure_request": {
                      "$ref": "#/components/schemas/DisclosureRequest"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/auth_requests": {
      "post": {
        "tags": [
          "Auth requests"
        ],
        "summary": "Crear un request de autenticación",
        "description": "Crea un nuevo request de autenticación para una identidad específica.\nEl tipo de autenticación dependerá de si el usuario tiene un dispositivo registrado (passkey_validation)\no no (facial_validation).\n",
        "operationId": "createAuthRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity_id": {
                    "type": "string",
                    "description": "Identificador único de la identidad que realizará el intento de autenticación.",
                    "example": "id_ma21KLsmaslopask912Aa2"
                  }
                },
                "required": [
                  "identity_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request de autenticación creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_attempt": {
                      "$ref": "#/components/schemas/AuthAttempt"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "example": [
                            "Invalid identity_id"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Auth requests"
        ],
        "summary": "Obtener todos los auth requests",
        "operationId": "indexAuthRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "status_filter": {
                "summary": "Filtrar por estado",
                "value": "{\"status\":{\"=\":\"awaiting_authentication\"}}"
              },
              "identity_filter": {
                "summary": "Filtrar por identidad",
                "value": "{\"identity_id\":{\"=\":\"id_ma21KLsmaslopask912Aa2\"}}"
              },
              "combined_filter": {
                "summary": "Filtros combinados",
                "value": "{\"status\":{\"=\":\"awaiting_authentication\"},\"identity_id\":{\"=\":\"id_ma21KLsmaslopask912Aa2\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Auth requests encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthRequestList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/auth_requests/{id}": {
      "get": {
        "tags": [
          "Auth requests"
        ],
        "summary": "Obtener un auth request específico",
        "operationId": "getAuthRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del auth request a buscar",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "authreq_Kop19_kEe23i7hSw8QG4-a"
          }
        ],
        "responses": {
          "200": {
            "description": "Auth request encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_request": {
                      "$ref": "#/components/schemas/AuthRequest"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/data_subject_requests": {
      "post": {
        "tags": [
          "Data subject requests"
        ],
        "summary": "Crea un data subject request.\n",
        "description": ":::info[Ojo]\nDependiendo del tipo de request `kind`, se requerirá un `request_detail` diferente:\n- `access`, `portability`: `request_detail` es un objeto con las categorías de datos a solicitar.\n- `rectification`, `opposition`, `suppression`: `request_detail` es un arreglo con objetos que contienen los campos a modificar/eliminar.\n:::\n",
        "operationId": "createDataSubjectRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSubjectRequestCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Data subject request creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSubjectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ValidationError"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "example": [
                            "Kind is not a valid value. Allowed values are: revoke, change",
                            "Description can't be blank"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Data subject requests"
        ],
        "summary": "Obtener todos los data subject requests",
        "operationId": "indexDataSubjectRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Data subject requests encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSubjectRequestList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/data_subject_requests/{id}": {
      "get": {
        "tags": [
          "Data subject requests"
        ],
        "summary": "Obtener un data subject request específico",
        "operationId": "getDataSubjectRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del data subject request a buscar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Data subject request encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSubjectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "put": {
        "tags": [
          "Data subject requests"
        ],
        "summary": "Actualizar el estado de un data subject request",
        "description": "Actualiza el estado de una solicitud de ejercicio de derechos.\n\nSi `terminal_state` es `rejected` o `partially_approved` (o `approved` es `false`), el campo\n`rejection_reason` es **obligatorio**.\nCuando ambos están presentes, `terminal_state` tiene precedencia.\n",
        "operationId": "updateDataSubjectRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del data subject request a actualizar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataSubjectRequestUpdate"
              },
              "examples": {
                "approve_request": {
                  "summary": "Aceptar solicitud",
                  "value": {
                    "status": "resolved",
                    "terminal_state": "approved"
                  }
                },
                "reject_request": {
                  "summary": "Rechazar solicitud",
                  "value": {
                    "status": "resolved",
                    "terminal_state": "rejected",
                    "rejection_reason": "Documentación insuficiente para procesar la solicitud"
                  }
                },
                "partially_approve_request": {
                  "summary": "Aceptar solicitud parcialmente",
                  "value": {
                    "status": "resolved",
                    "terminal_state": "partially_approved",
                    "rejection_reason": "Algunos datos no pudieron ser procesados"
                  }
                },
                "approve_request_legacy": {
                  "summary": "Aceptar solicitud (legacy)",
                  "value": {
                    "status": "resolved",
                    "approved": true
                  }
                },
                "reject_request_legacy": {
                  "summary": "Rechazar solicitud (legacy)",
                  "value": {
                    "status": "resolved",
                    "approved": false,
                    "rejection_reason": "Documentación insuficiente para procesar la solicitud"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Data subject request actualizado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSubjectRequest"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "description": "Error de validación",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                },
                "examples": {
                  "invalid_status": {
                    "summary": "Estado inválido",
                    "value": {
                      "type": "validation_error",
                      "title": "Validation error",
                      "status": 422,
                      "errors": [
                        "Invalid status"
                      ]
                    }
                  },
                  "missing_rejection_reason": {
                    "summary": "Falta razón de rechazo",
                    "value": {
                      "type": "validation_error",
                      "title": "Validation error",
                      "status": 422,
                      "errors": [
                        "rejection_reason is required when status is rejected"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/data_subject_requests/by_identifier/{identifier}": {
      "get": {
        "tags": [
          "Data subject requests"
        ],
        "summary": "Obtener un data subject request por identificador humanizado",
        "operationId": "getDataSubjectRequestByIdentifier",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "Identificador humanizado de la solicitud",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            },
            "example": "FME4607"
          }
        ],
        "responses": {
          "200": {
            "description": "Data subject request encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataSubjectRequest"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/data_subject_requests/recovery_email": {
      "post": {
        "tags": [
          "Data subject requests"
        ],
        "summary": "Enviar correo de recuperación del identificador de la solicitud",
        "description": "Envía un correo electrónico con el identificador de la última solicitud del titular de datos, si existe una solicitud asociada al correo proporcionado.\nSi la configuración de la compañía tiene deshabilitados los correos funcionales, no se enviará el correo, pero la respuesta será exitosa igualmente.\n",
        "operationId": "sendDataSubjectRequestRecoveryEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email del usuario asociado a la solicitud",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicitud procesada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "If a data subject request exists for this email, a recovery email has been sent."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/identities": {
      "get": {
        "tags": [
          "Identities"
        ],
        "summary": "Obtener todas las identidades",
        "operationId": "indexIdentities",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "email_filter": {
                "summary": "Filtrar por email",
                "value": "{\"email\":{\"like\":\"@example.com\"}}"
              },
              "data_filter": {
                "summary": "Filtrar por datos personales",
                "value": "{\"data\":{\"name\":{\"=\":\"John\"}}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Identidades encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/identities/{id}": {
      "get": {
        "tags": [
          "Identities"
        ],
        "summary": "Obtener una identidad específica",
        "operationId": "getIdentity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID de la identidad a buscar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filtered_by_agreement",
            "in": "query",
            "description": "Cuando se establece en `true`, retorna solo los datos permitidos por el `agreement` entre la identidad y la compañía. Por defecto retorna todos los datos del vault sin filtrar.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Operación exitosa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "identity": {
                      "$ref": "#/components/schemas/Identity"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Identities"
        ],
        "summary": "Eliminar una identidad",
        "description": "Elimina una identidad específica.\n:::info[Ojo]\n**Esta acción solo está disponible en entorno de sandbox.**\n:::\n",
        "operationId": "deleteIdentity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID de la identidad a eliminar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Identidad eliminada exitosamente"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/validation_attempts": {
      "get": {
        "tags": [
          "Validation attempts"
        ],
        "summary": "Obtener todos los intentos de validación",
        "operationId": "indexValidationAttempts",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "status_filter": {
                "summary": "Filtrar por estado",
                "value": "{\"status\":{\"=\":\"successful\"}}"
              },
              "date_range": {
                "summary": "Filtrar por rango de fechas",
                "value": "{\"created_at\":{\">\":\"2024-01-01T00:00:00\",\"<\":\"2024-12-31T00:00:00\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Intentos de validación encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationAttemptList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/validation_attempts/{id}": {
      "get": {
        "tags": [
          "Validation attempts"
        ],
        "summary": "Obtener un flujo de validación específico",
        "description": "Retorna un flujo de validación dado su ID.",
        "operationId": "getValidationAttempt",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del flujo de validación a buscar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Flujo de validación encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "validation_attempt": {
                      "$ref": "#/components/schemas/ValidationAttempt"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/auth_attempts": {
      "get": {
        "tags": [
          "Auth attempts"
        ],
        "summary": "Obtener todos los intentos de autenticación",
        "operationId": "indexAuthAttempts",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "status_filter": {
                "summary": "Filtrar por estado",
                "value": "{\"status\":{\"=\":\"successful\"}}"
              },
              "type_filter": {
                "summary": "Filtrar por tipo de autenticación",
                "value": "{\"auth_type\":{\"=\":\"passkey_validation\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Intentos de autenticación encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthAttemptList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/auth_attempts/{id}": {
      "get": {
        "tags": [
          "Auth attempts"
        ],
        "summary": "Obtener un intento de autenticación específico",
        "description": "Retorna un intento de autenticación dado su ID.",
        "operationId": "getAuthAttempt",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del intento de autenticación a buscar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intento de autenticación encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_attempt": {
                      "$ref": "#/components/schemas/AuthAttempt"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/signature_attempts": {
      "post": {
        "tags": [
          "Signature attempts"
        ],
        "summary": "Crear un intento de firma",
        "description": "Crea un nuevo intento de firma para un documento basado en un template específico.\nSe deben proporcionar variables clave-valor dinámicas necesarias para el proceso de firma.\n",
        "operationId": "createSignatureAttempt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identity_id": {
                    "type": "string",
                    "description": "Identificador único de la identidad que realiza el intento de firma.",
                    "example": "id_ma21KLsmaslopask912Aa2"
                  },
                  "template_id": {
                    "type": "string",
                    "description": "Identificador del template de firma a utilizar.",
                    "example": "st_9F42D8L0JQ7p82H"
                  },
                  "variables": {
                    "type": "array",
                    "description": "Array de pares clave-valor que serán utilizados en el documento a firmar.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Nombre de la variable que se utilizará en el template de firma."
                        },
                        "value": {
                          "type": "string",
                          "description": "Valor asociado a la clave especificada."
                        }
                      }
                    },
                    "examples": [
                      [
                        {
                          "key": "first_variable_key",
                          "value": "first_variable_value"
                        },
                        {
                          "key": "second_variable_key",
                          "value": "second_variable_value"
                        }
                      ]
                    ]
                  }
                },
                "required": [
                  "identity_id",
                  "template_id",
                  "variables"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Intento de firma creado exitosamente",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signature_attempt": {
                      "$ref": "#/components/schemas/SignatureAttempt"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Datos de entrada inválidos, ya sea porque faltan variables, o se entregaron variables extra.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "array",
                      "description": "Lista de mensajes de error describiendo los problemas con la solicitud.",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "examples": [
                        [
                          "Missing key: <missing_example_key>",
                          "Missing key: <another_missing_example_key>",
                          "Key <extra_key> does not exist in the signature template"
                        ]
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Signature attempts"
        ],
        "summary": "Obtener todos los intentos de firma",
        "operationId": "indexSignatureAttempts",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "status_filter": {
                "summary": "Filtrar por estado",
                "value": "{\"status\":{\"=\":\"successful\"}}"
              },
              "identity_filter": {
                "summary": "Filtrar por identidad",
                "value": "{\"identity_id\":{\"=\":\"id_ma21KLsmaslopask912Aa2\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Intentos de firma encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignatureAttemptList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/signature_attempts/{id}": {
      "get": {
        "tags": [
          "Signature attempts"
        ],
        "summary": "Obtener un intento de firma específico",
        "description": "Retorna un intento de firma dado su ID.",
        "operationId": "getSignatureAttempt",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del intento de firma a buscar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intento de firma encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signature_attempt": {
                      "$ref": "#/components/schemas/SignatureAttempt"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Obtener todos los eventos",
        "operationId": "indexEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "event_name": {
                "summary": "Filtrar por nombre del evento",
                "value": "{\"name\":{\"=\":\"disclosure_request.granted\"}}"
              },
              "date_range": {
                "summary": "Filtrar por rango de fechas",
                "value": "{\"created_at\":{\">\":\"2024-01-01T00:00:00\",\"<\":\"2024-12-31T00:00:00\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Eventos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/{id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Obtener un evento específico",
        "description": "Obtiene los detalles de un evento existente.",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del evento a buscar",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evento encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/events/{id}/broadcast": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Reenviar un evento a los webhooks suscritos",
        "description": "Permite reenviar manualmente un evento a todos los webhooks suscritos de la compañía.\nEste endpoint es útil cuando necesitas retransmitir un evento específico, por ejemplo,\nsi hubo problemas en la recepción original del webhook.\n",
        "operationId": "broadcastEvent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id del evento",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "evt_jy21JCGqb-VHhHeUd2nmKw"
          }
        ],
        "responses": {
          "204": {
            "description": "El evento fue enviado exitosamente a la cola de webhooks"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/signed_documents": {
      "get": {
        "tags": [
          "Signed documents"
        ],
        "summary": "Obtener todos los documentos firmados.",
        "description": "Retorna una lista de documentos firmados. Los documentos se encuentran ordenados por defecto por la fecha de creación, donde los más recientes aparecerán primero.",
        "operationId": "indexSignedDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "identity_filter": {
                "summary": "Filtrar por identidad",
                "value": "{\"identity_id\":{\"=\":\"id_ma21KLsmaslopask912Aa2\"}}"
              },
              "date_filter": {
                "summary": "Filtrar por fecha de firma",
                "value": "{\"created_at\":{\">\":\"2024-01-01T00:00:00\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Documentos firmados encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignedDocumentList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/signed_documents/{id}": {
      "get": {
        "tags": [
          "Signed documents"
        ],
        "summary": "Obtener un documento firmado.",
        "description": "Obtiene los detalles de un documento firmado.",
        "operationId": "getSignedDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento firmado",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document firmado encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "$ref": "#/components/schemas/SignedDocument"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/evidences": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Obtener todas las evidencias",
        "description": "Retorna la lista completa de evidencias de todos los acuerdos de la compañía. Útil para auditorías o gestión centralizada de evidencias.",
        "operationId": "getAllEvidences",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON. Permite combinar condiciones como `id`, `legal_basis` o rangos de `created_at`.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "id_filter": {
                "summary": "Filtrar por ID de evidencia",
                "value": "{\"id\":{\"=\":\"evd_pNMroI2OEfrDNdi8xT6kOQ\"}}"
              },
              "legal_basis_filter": {
                "summary": "Filtrar por base legal",
                "value": "{\"legal_basis\":{\"=\":\"consent\"}}"
              },
              "date_filter": {
                "summary": "Filtrar por fecha de creación",
                "value": "{\"created_at\":{\">\":\"2024-01-01T00:00:00\"}}"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evidencias encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/agreements": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Obtener todos los acuerdos",
        "description": "Retorna la lista de todos los acuerdos en su última versión.",
        "operationId": "indexAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "name": "where",
            "in": "query",
            "description": "Filtros en formato JSON",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "user_reference_filter": {
                "summary": "Filtrar por `user_reference`",
                "value": "{\"user_reference\":{\"=\":\"user_123\"}}"
              },
              "entity_filter": {
                "summary": "Filtrar por entidad",
                "value": "{\"entity_id\":{\"=\":\"ent_cYTjMLgWE3MvUa3RKwgXEg\"}}"
              },
              "identity_filter": {
                "summary": "Filtrar por identidad",
                "value": "{\"identity_id\":{\"=\":\"id_ma21KLsmaslopask912Aa2\"}}"
              },
              "data_use_filter": {
                "summary": "Filtrar por finalidad del dato. Retorna los agreements que incluyen al menos uno de los valores proporcionados.\nSi se proporciona una categoría general (e.g. `essential`), se incluyen los casos más específicos (e.g. `essential.service`).\n",
                "value": "{\"data_uses\":{\"in\":[\"analytics\", \"marketing\"]}}"
              },
              "data_category": {
                "summary": "Filtrar por categoría del dato. Retorna los agreements que incluyen al menos uno de los valores proporcionados.\nSi se proporciona una categoría general (e.g. `user.name`), se incluyen los casos más específicos (e.g. `user.name.first`).\n",
                "value": "{\"data_categories\":{\"in\":[\"user.name\", \"user.contact.email\"]}}"
              },
              "date_filter": {
                "summary": "Filtrar por fecha de creación",
                "value": "{\"created_at\":{\">\":\"2024-01-01T00:00:00\"}}"
              },
              "combined_filter": {
                "summary": "Filtros combinados",
                "value": "{\"status\":{\"=\":\"active\"},\"created_at\":{\">\":\"2024-01-01T00:00:00\"}}"
              }
            }
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Acuerdos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/agreements/{id}": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Obtener un acuerdo específico",
        "description": "Retorna los detalles de un acuerdo en su última versión.",
        "operationId": "getAgreement",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del acuerdo a buscar",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agr_1B2M2Y8AsgTpgAmY7PhCfg"
          }
        ],
        "responses": {
          "200": {
            "description": "Acuerdo encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agreement": {
                      "$ref": "#/components/schemas/Agreement"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/agreements/{id}/evidences": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Obtener todas las evidencias de un acuerdo",
        "description": "Retorna la lista de evidencias asociadas a un acuerdo específico.",
        "operationId": "getAgreementEvidences",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del acuerdo",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agr_1B2M2Y8AsgTpgAmY7PhCfg"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Evidencias encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvidenceList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/agreements/{id}/evidences/{evidenceId}": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Obtener una evidencia específica de un acuerdo",
        "description": "Retorna los detalles de una evidencia específica asociada a un acuerdo.",
        "operationId": "getAgreementEvidence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del acuerdo",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agr_1B2M2Y8AsgTpgAmY7PhCfg"
          },
          {
            "name": "evidenceId",
            "in": "path",
            "description": "ID de la evidencia",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ev_2C3N3Z9BthUqhBnZ8QiDgj"
          }
        ],
        "responses": {
          "200": {
            "description": "Evidencia encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evidence": {
                      "$ref": "#/components/schemas/Evidence"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/agreements/{id}/evidences/{evidenceId}/download": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Descargar el archivo de una evidencia específica",
        "description": "Permite descargar el archivo asociado a una evidencia específica de un acuerdo. Es útil en caso de auditoría o querer demostrar en formato PDF que el acuerdo tuvo un cambio.",
        "operationId": "downloadAgreementEvidence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del agreement",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agr_1B2M2Y8AsgTpgAmY7PhCfg"
          },
          {
            "name": "evidenceId",
            "in": "path",
            "description": "ID de la evidencia",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ev_2C3N3Z9BthUqhBnZ8QiDgj"
          }
        ],
        "responses": {
          "200": {
            "description": "Archivo en formato PDF de evidencia",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string",
                  "example": "attachment; filename=\"name.pdf\""
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/agreements/{id}/versions": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Obtener todas las versiones de un acuerdo",
        "description": "Retorna la lista de versiones asociadas a un acuerdo específico.",
        "operationId": "getAgreementVersions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del acuerdo",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agr_1B2M2Y8AsgTpgAmY7PhCfg"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/PerPageParam"
          },
          {
            "$ref": "#/components/parameters/OrderByParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Versiones encontradas",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgreementList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/agreements/{id}/versions/{versionNumber}": {
      "get": {
        "tags": [
          "Agreements"
        ],
        "summary": "Obtener una versión específica de un acuerdo",
        "description": "Retorna los detalles de una versión específica de un acuerdo.",
        "operationId": "getAgreementVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del acuerdo",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agr_1B2M2Y8AsgTpgAmY7PhCfg"
          },
          {
            "name": "versionNumber",
            "in": "path",
            "description": "Número de versión",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Versión encontrada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "$ref": "#/components/schemas/Agreement"
                    }
                  }
                }
              }
            }
          },
          "401": {
[...]
